h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
.survey-label {
    width: 100px;
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  .error {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  
  .survey-question-container label {
    display: inline-block;
    margin-right: 10px;
  }
  
  .survey-question-container select {
    margin-top: 5px;
    margin-left: 20px;
    width: 200px;
  }
  
  .survey-question-container input[type="radio"] + label {
    margin-left: 5px;
  }
  
  
  .survey-container {
    width: 1000px; /* 수정된 부분: 가로 너비를 조절하세요 */
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .survey-question-container {
    margin-bottom: 20px; 
    text-align: left; 
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 20px; 
  }
  
  button:hover {
    background-color: #0056b3;
  }