
  
  .login-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
  }
  
  label {
    display: block;
    text-align: left; 
    margin: 10px 0;
    font-size: 14px;
    color: #333;
  }
  
  input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #3498db;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px; /* 버튼 폰트 크기를 원하는 크기로 변경 */
  }
  
  .error {
    color: red;
    margin-top: 10px;
    font-size: 14px; /* 에러 메시지 폰트 크기를 원하는 크기로 변경 */
  }
  
  .additional-links {
    margin-top: 20px;
    font-size: 14px; /* 추가 링크 폰트 크기를 원하는 크기로 변경 */
  }
  
  .additional-links a {
    margin: 5px;
    color: #007bff;
    text-decoration: none;
  }