.thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    border: 1px solid #ccc;
    margin-top: 50px;
  }
  
  h1 {
    color: #333; /* 제목 색상 */
    margin-bottom: 20px; /* 제목과 내용 사이의 여백 */
  }
  
  .typ {
    text-align: center; /* 문단 내용을 가운데 정렬합니다. */
    line-height: 1.6; /* 줄 간격 */
    margin-bottom: 15px; /* 문단 간 여백 */
    color: #666; /* 문단 텍스트 색상 */
  }
  
  .contact-info {
    margin: 20px 0; /* 연락처 정보 위아래 여백 */
    font-style: italic; /* 연락처 정보 스타일 */
  }
  
.login-button {
  width: 300px;
}
  